    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-dark bg-inverse" role="navigation">
              <a class="navbar-brand" href="{{path('home')}}">Series TV</a>

              <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Calendrier</a>
                  <div class="dropdown-menu" aria-labelledby="Preview">
                    <a class="dropdown-item" href="#">Mes séries</a>
                    <a class="dropdown-item" href="#">Nouveautés</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Series</a>
                  <div class="dropdown-menu" aria-labelledby="Preview">
                    <a class="dropdown-item" href="#">Watchlist</a>
                    <a class="dropdown-item" href="#">En attente</a>
                    <a class="dropdown-item" href="#">Archives</a>
                    <a class="dropdown-item" href="#">...</a>
                  </div>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{{path('calendar',{'route':'new'})}}">Calendrier</a>
                </li>
                <li  class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                </li>                

              </ul>
              <form class="form-inline pull-xs-right" role="search">
                  <input class="form-control" type="text" placeholder="Search">
                  <button type="submit" class="btn btn-default"><span class="fa fa-search"></span></button>
              </form>
        </nav>

      </div>
</div>